html {
  background-color: rgb(201, 201, 201);
}
.main-title {
  position: absolute;
  left: 5%;
  top: -2px;
  background-color: green;
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  font-size: 50px;
  box-shadow: 0 8px 34px 4px rgba(0,0,0,.4);
}

.search-bar-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px 20px 10px 45px;
}

.search-bar-main input {
  width: 55%;
  height: 30px;
  font-size: 20px;
  box-shadow: 0 8px 34px 4px rgba(0,0,0,.4);
}

.video-item img {
  max-width: 64px;
}

.video-detail {
  width: 60%;
  display: inline-flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.video-display {
  width: 100%;
  border-radius: 4px;
  border: solid 1px black;
  height: 600px;
  box-shadow: 0 8px 34px 4px rgba(0,0,0,.4);
}

.video-detail .details {
  background-color: whitesmoke;
  border: solid 1px black;
  width: 92%;
  margin-top: 10px;
  padding: 38px;
  border: solid 3px #ddd;
  border-radius: 4px;
  box-shadow: 0 8px 34px 4px rgba(0,0,0,.4);
}

.video-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0px;
}

.video-description {
  font-size: 20px;
  margin-top: 10px;
}
/* ///////////////////////////////////////////// */
/* Side Bar */
/* ///////////////////////////////////////////// */

.side-bar-list {
  display: inline-block;
  width: 31%;
  margin-left: -20px;
}

.sidebar-ul {
  list-style-type: none;
}

.list-group-item {
  cursor: pointer;
  margin: 20px 0px 0px 0px;
  width: 100%;
  transition: all .2s ease-in-out;
  background-color: whitesmoke;
  border-radius: 4px;
  box-shadow: 0 8px 34px 4px rgba(0,0,0,.4);
}

.list-group-item:hover {
  background-color: rgb(244, 233, 233);
  border-radius: 4px;
  transform: scale(1.05);
}

.outer-list-border{
  border: solid black 1px;
  border-radius: 4px;
  padding: 0px;
}

.inner-list-div {
  display: flex;
  padding: 7px;
align-items: center;
}

.sidebar-list-title {
  margin-left: 20px;
  font-size: 17px;
  font-weight: bold;
}
